<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlobalWings - Aircraft Database</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="container">
        
    </div>
    <div class="container mt-5">
        <h1 class="text-center mb-4">GlobalWings Aircraft Database</h1>

        <!-- Search Form -->
        <form id="searchForm" class="d-flex mb-4">
            <input class="form-control" type="search" id="searchInput" placeholder="Search aircraft by name..."
                aria-label="Search">
            <button class="btn btn-outline-success mx-3" type="submit">Search</button>
            <a class="btn btn-primary" href="/add.html">Add</a>
        </form>

        <!-- Aircraft Cards -->
        <div class="row" id="aircraftCards">
            <% aircraft.forEach(aircraft=> { %>
                <div class="col-md-4 mb-4">
                    <div class="card card-hover" >
                        
                        <div class="card-body">
                            <h5 class="card-title"><%= aircraft.aircraft_name %></h5>
                            <p class="card-text">Model: <%= aircraft.aircraft_model %></p>
                            <p class="card-text">Type: <%= aircraft.type_name %></p>
                            <a href="/viewer/<%= aircraft.aircraft_id %>" class="btn btn-primary">Open</a>
                          </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>


    <script src="js/index.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>