body {
    overflow-x: hidden;
    font-family: calibri;
}

.customDarkBg {
    background-color: #0f1c23 !important;
}

.customDarkBgLight {
    background: radial-gradient(#24323a, #0f1c23) !important;
}

.heightFive {
    height: 55vh;
}

.transparent {
    background: transparent !important;
    border: 0 !important;
}

.navbar-toggler-icon {
    filter: invert(1);
    /* Inverts the color, making it white */
}

.scaleUp {
    scale: 1.2;
}

.minusTopMargin80{
    margin-top: -80px;
}

.custom_positon{
    top:180px;
}
.custom_positon2{
    top:180px;
    right: 0;
}

@media only screen and (max-width: 600px) {

    .minusTopMargin80{
        margin-top: -20px;
    }
    .heightFive {
        height: 40vh;
    }
}